<%= simple_form_for @job do |f| %>
		<% if @job.errors.any? %>
			<div id="errors">
				<h2><%= pluralize(@job.errors.count, "error") %> prevented this job from saving</h2>
				<ul>
					<% @job.errors.full_messages.each do |msg| %>
						<li><% msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

<legend>Create a job...</legend>
	<div class="form-group">
		<div class="col-md-8 control-label">
			<div class="col-md-4">
			<%= f.input :origin, as: :radio_buttons, collection: ["Port of Los Angeles", "Port of Long Beach", "Port of New York and New Jersey", "Georgia Ports", "Port of Seattle-Tacoma", "Port of Virginia", "Port of Houston", "South Carolina ports", "Port of Oakland", "Port of Miami"] %>
			</div>
		</div>
  	
  		<div class="col-md-8 control-label">
  			<div class="col-md-4">
  			<%= f.input :destination, as: :radio_buttons, collection: ["Port of Los Angeles", "Port of Long Beach", "Port of New York and New Jersey", "Georgia Ports", "Port of Seattle-Tacoma", "Port of Virginia", "Port of Houston", "South Carolina ports", "Port of Oakland", "Port of Miami"] %>
  			</div>
  		</div>

  		<div class="col-md-8 control-label">
  			<div class="col-md-4">
  			<%= f.label :description %><br>
  			<%= f.text_area :description %>
  			</div>
  		</div>


		<div class="col-md-8 control-label">
			<div class="col-md-4">
			<%= f.label :containers %><br>
			<%= f.text_field :containers %>
			</div>
		</div>
	
		<div class="col-md-8 control-label">
			<div class="col-md-4">	
			<%= f.label :cost %><br>
			<%= f.text_field :cost %>
			</div>
		</div>

		<div class="col-md-8 control-label">
			<div class="col-md-4">
			<%= f.submit %>
			</div>
		</div>

	</div>

  <% end %>

