<div class="wrapper fit_inside">
	<table class="table">
	<thead>
		<tr>
			<th>Job Name:</th>
			<th>From:</th>
			<th>To:</th>
			<th>Description:</th>
			<th>Containers:</th>
			<th>Cost</th>
			<th>Working Boats:</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @boats.each do |boat| %>
		<tr>
			<td><%= @job.name %></td>
			<td><%= @job.origin %></td>
			<td><%= @job.destination %></td>
			<td>
				<p class="hover-description" data-description="<%= @job.description %>"><%= @job.description %></p>
			</td>
			<td><%= @job.containers %></td>
			<td>$<%= @job.cost %></td>
			<td>#<%= @job.boat_id %></td>
			<td><a href="/jobs/<%= @job.id %>/edit"> Edit </a></td>
		</tr>
	</tbody>
	</table>

		
<table class="table">
	<div class="show-boats">
		<img src="<%= boat.avatar %>" alt="" width="200">
					<br>
		<p id="b_name"><%= boat.name %></p>
					<br>
		<p>Boat Number: <%= boat.id%></p>
					<br>
		<p>Current location: <%= boat.loc %></p>
					<br>
		<p>Containers on board: <%= boat.containers %></p>
					<br>
					
		<%= form_for @job do |f| %>
		<%= f.hidden_field :boat_id, value: boat.id %>
</table>
					<span id="add_btn">
						<%= button_to "Add boat", @job, method: :put, remote: true, data: { confirm: "Are you sure?"}, :class => "submitty" %>
					</span>
				<% end %>
				</div>
		<% end %>
	</div>
</div>

