<h1>Show#Jobs</h1>

<div class="jobs-list">
	<p>From: <%= @job.origin %> to <%= @job.destination %></p>
	<br>
	<p>Description: 
	<br>
	<br>
	<%= @job.description %></p>
	<br>
	<p>Amount to ship: <span id="j_con"><%= @job.containers %></span></p>
	<br>
	<p>$<%= @job.cost %></p>
	<br>
	<p><%= @job.boat_id %></p>
	<button id="ship">Ship</button>
</div>
<div id="boatArr"></div>
<br>
<br>
<hr>
<div class="add-boats">
	<% @boats.each do |boat| %>
				<div class="show-boats">
					<img src="<%= boat.avatar %>" alt="">
					<br>
					<p id="b_name"><%= boat.name %></p>
					<br>
					<p><%= boat.loc %></p>
					<br>
					<p><span id="b_con"><%= boat.containers %></span></p>
					<br>
				<%= form_for @job do |f| %>
					<%= f.hidden_field :boat_id, value: boat.id %>
					<span id="add_btn">
						<%= button_to "Add boat", @job, method: :put, remote: true, data: { confirm: "Are you sure?"} %>
					</span>
				<% end %>
				</div>
		<% end %>
</div>

<script src="/js/boat.js"></script>
