<h1>Show#Jobs</h1>

<div class="jobs-list">
	<p>From: <%= @job.origin %> to <%= @job.destination %></p>
	<br>
	<p>Description: 
	<br>
	<br>
	<%= @job.description %></p>
	<br>
	<p>Amount to ship: <span id="j_con"><%= @job.containers %></span></p>
	<br>
	<p>$<%= @job.cost %></p>
	<br>
	<button onclick="ship()">Ship</button>
</div>
<br>
<br>
<hr>
<div class="add-boats">
	<% @boats.each do |boat| %>
				<div class="show-boats">
					<img src="<%= boat.avatar %>" alt="">
					<br>
					<p><%= boat.name %></p>
					<br>
					<p><%= boat.loc %></p>
					<br>
					<p><span class="b_con"><%= boat.containers %></span></p>
					<br>
					<button id="add_btn" onclick="addBoat(0)">Add Boat</button>
				</div>
		<% end %>
</div>

<div id="boatArr">
	
</div>
