
<div class="wrapper fit_inside">
	<%= link_to "Add a new job", "/jobs/new" %>
	<table class="table">
		<thead>
			<tr>
			<th>From: </th>
			<th>To: </th>
			<th>Description: </th>
			<th>Amount to ship: </th>
			<th>Working boats: </th>
			<th>Cost:</th>
			<th> </th>
		    </tr>
		</thead>
		<tbody>
		<% @jobs.each do |job| %>
		<tr>
			<td><%= job.origin %> </td>
			<td><%= job.destination %></td>
			<td>
				<p class="hover-description" data-description="<%= job.description %>"><%= job.description %></p>
			</td>
			<td><%= job.containers %></td>
			<td>#<%= job.boat_id %></td>
			<td>$<%= job.cost %></td>
			<td><a href="/jobs/<%= job.id %>"> View </a></td>
		</tr>
		<% end %>
		</tbody>
	</table>
</div>