<%= link_to "Add a new job", "/jobs/new" %>

<% @jobs.each do |job| %>
				<div class="jobs-list">
					<hr>
					<p>From: <%= job.origin %> to <%= job.destination %></p>
					<br>
					<p>Description: 
					<br>
					<br>
					<%= job.description %></p>
					<br>
					<p>Amount to ship: <%= job.containers %></p>
					<br>
					<p>Working boats: #<%= job.boat_id %></p>
					<br>
					<p>$<%= job.cost %></p>
					<br>
					<a href="/jobs/<%= job.id %>"> View </a>
				</div>
		<% end %>