<% @jobs.each do |job| %>
				<div class="jobs-list">
					<a href="/users/<%= job.user.id %>"> <%= job.user.name %> </a>
					<hr>
					<p><%= job.name %></p>
					<br>
					<p><%= job.containers %></p>
					<br>
					<p><%= job.cost %></p>
					<br>
					<p><%= job.description %></p>
					<br>
					<p><%= job.origin %></p>
					<br>
					<p><%= job.destination %></p>
					<br>
					<a href="/posts/<%= job.id %>"> View </a>
				</div>
		<% end %>