<%= simple_form_for @boat do |f| %>
	<% if @boat.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@boat.errors.count, "error") %> prevented this boat from saving</h2>
			<ul>
				<% @boat.errors.full_messages.each do |msg| %>
					<li><% msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<legend>Add/Edit a boat...</legend>

				<%= f.file_field :avatar %><br>


				<%= f.label :name %><br>
				<%= f.text_field :name %>


			

				<%= f.input :loc, as: :radio_buttons, collection: ["Port of Los Angeles", "Port of Long Beach", "Port of New York and New Jersey", "Georgia Ports", "Port of Seattle-Tacoma", "Port of Virginia", "Port of Houston", "South Carolina ports", "Port of Oakland", "Port of Miami"]  %><br>
				


			

				<%= f.hidden_field :containers, value: 0 %>


				<%= f.submit %>


<% end %>


