<!DOCTYPE html>
<html>
  <head>
    <title>Project: Shipped</title>
	<%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="nav">
  	<div>
  	<button><%= link_to "Home", "/" %></button>
  	<% if current_user %>
  		<button><%= link_to "My boats", "/boats" %></button>
  		<button><%= link_to "Log out", destroy_user_session_path, method: :delete %></button>
  	<% else %>
	  	<button><%= link_to "Log in", new_user_session_path %></button>
	  	<button><%= link_to "Sign up", new_user_registration_path %></button>
	  <% end %>
	</div>
  </div>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  	
  </body>
</html>
